
spring:
  jpa:
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 748992109544-shs5jmolc2363m8ja4duhg099t9874lm.apps.googleusercontent.com
            client-secret: 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

            scope:
              - email
              - profile
          facebook:
            client-id: 3579274418989160
            client-secret: 70939eaad1dad6d8fa47e8a3532f4627
            scope:
              - email
              - public_profile
          github:
            client-id: 205d2cdf7db3ab26e48b
            client-secret: e9e09d125ece49c9b04847db49a73066662ef81b
            scope:
              - user:email
              - read:use
