<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Welcome</h1>
<h2 th:utext="${welcomeMessage}">..!..</h2>

Add Person: <a href="/api/addPerson">Add Person</a><br>
Delete Person: <a href="/api/deletePerson">Delete Person</a><br>
List Person: <a href="/api/list">List Person </a><br>
Find Person: <a href="/api/findPerson">Find Person</a><br>

<!--

   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}

   -->

</body>

</html>
